<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * Mario Sergio Rayas Chávez * * * * * * * -->
<!-- * * * * * * * * * * 22/04/2022 * * * * * * * * * * -->
<!-- * * * * * * * * * * Ejercicio muestra * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * mrayas@gmail.com * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<ul>
  <li><a routerLink="">Inicio</a></li>
  <li><a routerLink="acerca/1">Acerca</a></li>
</ul>

<router-outlet></router-outlet>
